<main class="center" id="main">
    <div class="page-area" id="page">
        <div class="info" id="info">
            <h1>Welcome</h1>
            <div>
                Welcome to your personal budget app. Please visit the sign up page to make an account
                After creating your account you can make a custom budget by visting the configure page.
                Also the expenses page will help you enter your actual money spent to compare to your budget.
            </div>
        </div>
    </div>
</main>